.weather--good {
  color: white;
  margin: auto;
  max-width: 375px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1586783965334-e29d38a767b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80");
}

.weather--bad {
  color: white;
  margin: auto;
  max-width: 375px;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1532178910-7815d6919875?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1035&q=80");
}
